@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  max-width: 100vw;
 /* font-size: 10px;*/

}
html * {
  box-sizing: border-box;
}

body {
    background-color: #ECCADA;
    background-image: none;
    font-size: 10px;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

mark {
    color: #760035;
    background-color: #F1FFC8;
}

button:active {
    color:transparent;
   background-color:transparent;
   outline-color:transparent;
   border-color:transparent;
  
}


#PRIMERA-PREGUNTA {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #760035;
  }
.barras {
    width: 12%;
    margin-bottom: 50px;
}

.progreso {
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-right: 130px;
}

.opciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boton-opcion {
padding: 0;
border: none;
background-color: transparent;

cursor: pointer;

}
.boton-opcion:active {
    color: transparent;
    background-color:transparent;
    outline-color:transparent;
    border-color: transparent;
}


.opcion-1, 
.opcion-2,
.opcion-3 {
    margin: 0 100px 0 100px;
    justify-content: center;
}

#OPCION1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #760035;
    line-height: normal;
  }



#OPCION1 h1 {
    margin-right: 560px;
}



.explicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.info1,
.info3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 150px;
    margin-top: 100px;
    font-weight: 600;
}

.info1 p {
    font-size: 1.8rem;

}

.flecha1 {
    position: relative;
    top: 3px;
    right: 81px;
}

.flecha2 {
    position: relative;
    top: -1162px;
    left: -500px;
}


.info2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 200px;
    font-weight: 600;
}

.info2 p {
    font-weight: 600;
    margin: 0;
}

.info3 {
    margin-top: 0 !important;
    
}

.info3 p {
    font-weight: 600;
    margin: 0;
}

